@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and docker</a>.</p>

    <strong>To run with docker use <em>docker container run -p 5000:5000 --mount type=bind,source="$(pwd)"\src,target=/app/src frontend:latest</em></strong>
</div>
